# SilverEngine files
build
release
SilverEngine/system/cache
SilverEngine/system/bin/SilverEngine.lib


# VisualStudio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# VisualStudioCode files
*.vscode

# GMake files
*.make
**/Makefile