# SilverEngine files
build
release
SilverEngine/system/cache
SilverEngine/system/bin/*.dll
SilverEngine/system/bin/SilverEngine.lib
SilverEngine/system/shader_log.txt
SilverEngine/SilverEngine.exe


# VisualStudio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# VisualStudioCode files
*.vscode

# GMake files
*.make
**/Makefile